!!! 5
%html{ lang: 'en'}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'GitHubby'
    %meta{ description: 'If Octocat is a girl, this is where she would git her husband.' }
    %link{ href: '/opensearch.xml', rel: 'search', title: 'GitHubby', type: 'application/opensearchdescription+xml' }
    %link{ href: 'https://assets-cdn.github.com/favicon.ico', rel: 'icon', type: 'image/x-icon' }
    %link{ href: 'https://github.com/fluidicon.png', rel: 'fluid-icon', title: 'GitHub' }
    - %w(57 72 114 144).each do |size|
      %link{ href: "https://github.com/apple-touch-icon-#{size}.png", rel: 'apple-touch-icon', sizes: "#{size}x#{size}" }
    = stylesheet_link_tag 'application', media: 'all' #, 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application' # , 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body
    = render 'fork_me'
    = render 'header'
    = render 'flash'
    = render 'search'
    = yield
    = render 'footer'
