!!! 5
%html{ lang: 'en'}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'GitHubby'
    %meta{ description: 'If Octocat is a girl, this is where she would git her husband.' }
    %link{href: '/opensearch.xml', rel: 'search', title: 'GitHubby', type: 'application/opensearchdescription+xml'}
    %link{href: 'https://github.com/fluidicon.png', rel: 'fluid-icon', title: 'GitHub'}
    %link{href: 'https://github.com/apple-touch-icon-114.png', rel: 'apple-touch-icon', sizes: '57x57'}
    %link{href: 'https://github.com/apple-touch-icon-114.png', rel: 'apple-touch-icon', sizes: '114x114'}
    %link{href: 'https://github.com/apple-touch-icon-144.png', rel: 'apple-touch-icon', sizes: '72x72'}
    %link{href: 'https://github.com/apple-touch-icon-144.png', rel: 'apple-touch-icon', sizes: '144x144'}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body
    = render 'fork_me'
    = render 'header'
    = yield
    = render 'footer'
